@model  WebApplication.Models.Route
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>
	<div>
		<div class="row">
			<div class="col-md-6">Id</div>
			<div class="col-md-6">@Model.Id</div>
		</div>
		<div class="row">
			<div class="col-md-6">Model</div>
			<div class="col-md-6">@Model.StartPoint</div>
		</div>
		<div class="row">
			<div class="col-md-6">Year of Production</div>
			<div class="col-md-6">@Model.DestinationPoint</div>
		</div>
		<div class="row">
			<div class="col-md-6">Distance</div>
			<div class="col-md-6">@Model.Distance</div>
		</div>
		<div class="row">
			<div class="col-md-6">Capacity</div>
			<div class="col-md-6">@Model.Vehicle</div>
		</div>
	</div>
<p style="margin-top: 50px;">
	@Html.ActionLink("Edit Truck", "Edit", new { id = @Model.Id }, new { @class = "btn btn-primary pull-right" })
	<div class="clearfix"></div>
<p>
</p>