@model List<WebApplication.Models.User>
@{
    /**/

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p style="margin-top: 50px;">
    @Html.ActionLink("Add New User", "Create", null, new { @class = "btn btn-primary pull-right" })
    <div class="clearfix"></div>
<p>
<p>
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Surname</th>
            <th>EmployDate</th>
            <th></th>
        </tr>
        @foreach (var user in Model)
        {
          <tr>
              <td>@Html.ActionLink(user.Id.ToString(), "Details", "User", new { id = user.Id }, null)</td>
              <td>@user.Name</td>
              <td>@user.Surname</td>
              <td>@user.EmployDate</td>
              <td>@Html.ActionLink("x", "Delete", "User", new { id = user.Id }, null)</td>
          </tr>
        }
    </table>
</p>
